<div class="container-fluid">
  <h1 class="component-heading">Add Categories</h1>
  <div class="main-content-container">
    <div class="productFormContainer">
      <form (ngSubmit)="onSubmitCategoryForm()" [formGroup]="categoryForm">
        <div class="row">
          <div class="col-lg-12 p-1">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="input-wrapper">
                  <h5 class="label-style">Category Name</h5>
                  <div class="input-feild-div">
                    <input
                      type="text"
                      id="cName1"
                      class="input-style"
                      formControlName="categoryName"
                    />
                    <div
                      class="error-message"
                      *ngIf="
                        categoryForm
                          .get('categoryName')
                          ?.hasError('required') &&
                        categoryForm.get('categoryName')?.touched
                      "
                    >
                      Please enter a category name.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="input-wrapper">
                  <h5 class="label-style">Select Category Status</h5>
                  <div class="input-feild-div">
                    <select
                      id="category"
                      class="input-style"
                      formControlName="categoryStatus"
                    >
                      <option value="Active">Active</option>
                      <option value="Not Active">Not Active</option>
                    </select>
                    <div
                      class="error-message"
                      *ngIf="
                        categoryForm
                          .get('categoryStatus')
                          ?.hasError('required') &&
                        categoryForm.get('categoryStatus')?.touched
                      "
                    >
                      Please select category status
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="alignButton">
            <button
              type="submit"
              class="btn btn-primary"
              style="margin-right: 18px"
            >
              Add Category
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
