<div class="container-fluid">
  <h1 class="component-heading">Add Product</h1>
  <div class="main-content-container">
    <div class="productFormContainer">
      <form [formGroup]="productForm" (ngSubmit)="onSubmitAddProduct()">
        <div class="row">
          <div class="col-lg-9 p-1">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="input-wrapper">
                  <h5 class="label-style">Product Name</h5>
                  <div class="input-feild-div">
                    <input
                      type="text"
                      name="productName"
                      formControlName="productName"
                      id="pName1"
                      class="input-style"
                    />
                    <div
                      *ngIf="
                        productForm.get('productName')?.invalid &&
                        productForm.get('productName')?.touched
                      "
                      class="text-danger"
                    >
                      Product Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="input-wrapper">
                  <h5 class="label-style">Product Price</h5>
                  <div class="input-feild-div">
                    <input
                      type="number"
                      name="productPrice"
                      formControlName="productPrice"
                      id="pName2"
                      class="input-style"
                    />
                    <div
                      *ngIf="
                        productForm.get('productPrice')?.invalid &&
                        productForm.get('productPrice')?.touched
                      "
                      class="text-danger"
                    >
                      Product Price is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="input-wrapper">
                  <h5 class="label-style">Select Category</h5>
                  <div class="input-feild-div">
                    <select
                      name="selectCategory"
                      id="category"
                      class="input-style"
                      formControlName="selectCategory"
                    >
                      <option *ngFor="let c of categories" [value]="c._id">
                        {{ c.categoryName }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        productForm.get('selectCategory')?.invalid &&
                        productForm.get('selectCategory')?.touched
                      "
                      class="text-danger"
                    >
                      Product Category is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="input-wrapper">
                  <h5 class="label-style">Select Vendor</h5>
                  <div class="input-feild-div">
                    <select
                      name="selectVendor"
                      id="vendor"
                      class="input-style"
                      formControlName="selectVendor"
                    >
                      <option
                        *ngFor="let vendor of vendors"
                        [value]="vendor._id"
                      >
                        {{ vendor.firstName }} {{ vendor.lastName }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        productForm.get('selectCategory')?.invalid &&
                        productForm.get('selectCategory')?.touched
                      "
                      class="text-danger"
                    >
                      Product Vendor is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="input-wrapper">
                  <h5 class="label-style">Product Description</h5>
                  <div class="input-feild-div">
                    <textarea
                      name="productDescription"
                      formControlName="productDescription"
                      id="description"
                      class="text-area-style"
                    >
                    </textarea>
                    <div
                      *ngIf="
                        productForm.get('productDescription')?.invalid &&
                        productForm.get('productDescription')?.touched
                      "
                      class="text-danger"
                    >
                      Product Description is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 ImageUploaderWrapper">
            <div class="">
              <i class="far fa-cloud-upload upload-icon"></i>

              <h5 class="image-label-style">Upload Product Image</h5>
            </div>
            <div class="ImageUploader">
              <input
                class="form-control"
                type="file"
                id="formFile"
                formControlName="productImage"
                (change)="onImageChange($event)"
              />
            </div>
          </div>
          <div
            *ngIf="
              productForm.get('formFile')?.invalid &&
              productForm.get('formFile')?.touched
            "
            class="text-danger"
          >
            Product Image is required
          </div>

          <div>
            <button type="submit" class="btn custombutton">Add Product</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
