<div class="container-fluid">
  <h1 class="component-heading">Dashboard</h1>
  <div class="main-content-container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Products</h5>
        <p class="card-text">{{ totalProductsCount }}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Categories</h5>
        <p class="card-text">{{ totalCategoriesCount }}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Vendors</h5>
        <p class="card-text">{{ totalVendorsCount }}</p>
      </div>
    </div>
  </div>
</div>
